<div class="search-element">
  <input #search_term class="form-control" type="search" placeholder="Search" aria-label="Search" data-width="250">
  <button (keyup.enter)="search(search_term.value)" (click)="search(search_term.value)" class="btn" type="submit"><i class="fas fa-search"></i></button>
  <div class="search-backdrop"></div>
  <div class="search-result">
    <div class="search-header">
      Histories
    </div>
    <div class="search-item">
      <a href="#">How to hack NASA using CSS</a>
      <a href="#" class="search-close"><i class="fas fa-times"></i></a>
    </div>

  </div>
</div>
