<p>.</p>
<h4 class="m-5">Filtering by <span class="badge badge-secondary" style="background-color: #FFC300">Object
        oriented</span></h4>

<div infiniteScroll [infiniteScrollDistance]="2"
    [infiniteScrollThrottle]="50" (scrolled)="onScrollLoadData()">

    <div *ngFor="let post of posts" class="row">
        <div class="col-md-4 col-lg-4 d-flex flex-column flex-sm-row">
            <div *ngIf="post[0]" class="card">
                <div class="card-header">
                    <div class="author-box-name">
                        <a [routerLink]='["/posts", post[0].randomId]'>
                            <h4 class="text-wrap">{{post[0].title}}</h4>
                        </a>
                        <p>{{mom.unix(parseInt(post[0].createdAt)).fromNow()}}</p>
                    </div>

                    <div class="card-header-action d-flex justify-content-end gap-2">
                    </div>
                </div>
                <div class="collapse show" id="mycard-collapse">
                    <div class="card-body">
                        {{post[0].body}}
                    </div>
                    <div class="card-footer">
                        <div class="mb-2 mt-3">
                            <div class="text-small font-weight-bold">
                                <a *ngFor="let tag of post[0].tags" [routerLink]='["/tags", tag.name]'
                                    class="m-1 badge badge-outline-light" style="color:#FFC300;">#{{tag.name}}</a>
                            </div>
                        </div>
                        <a href="#" class="btn btn-light btn-sm mr-1"><i class="fas fa-lightbulb btn-success"></i>
                            Useful
                            ({{post[0].useful}})</a>
                        <a href="#" class="btn btn-light btn-sm"><i class="fas fa-lightbulb btn-danger"></i> Not Useful
                            ({{post[0].notUseful}})</a>

                        <a (click)="copyToCB( post[0].randomId )" class="btn mr-1 btn-github">
                            <i class="far fa-paper-plane">
                                <p *ngIf="this.copiedOne == post[0].randomId">URL Copied !</p>
                            </i>
                        </a>
                        <div class="w-100 d-sm-none"></div>

                        <div class="float-right mt-sm-0 mt-3">
                            <a [routerLink]='["/posts", post[0].randomId]' class="btn">Expand more <i
                                    class="fas fa-chevron-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-4 col-lg-4 d-flex flex-column flex-sm-row">
            <div *ngIf="post[1]" class="card">
                <div class="card-header">
                    <div class="author-box-name">
                        <a [routerLink]='["/posts", post[1].randomId]'>
                            <h4 class="text-wrap">{{post[1].title}}</h4>
                        </a>
                        <p>{{mom.unix(parseInt(post[1].createdAt)).fromNow()}}</p>
                    </div>

                    <div class="card-header-action d-flex justify-content-end gap-2">
                    </div>
                </div>
                <div class="collapse show" id="mycard-collapse">
                    <div class="card-body">
                        {{post[1].body}}
                    </div>
                    <div class="card-footer">
                        <div class="mb-2 mt-3">
                            <div class="text-small font-weight-bold">
                                <a *ngFor="let tag of post[1].tags" [routerLink]='["/tags", tag.name]'
                                    class="m-1 badge badge-outline-light" style="color:#FFC300;">#{{tag.name}}</a>
                            </div>
                        </div>
                        <a href="#" class="btn btn-light btn-sm mr-1"><i class="fas fa-lightbulb btn-success"></i>
                            Useful
                            ({{post[1].useful}})</a>
                        <a href="#" class="btn btn-light btn-sm"><i class="fas fa-lightbulb btn-danger"></i> Not Useful
                            ({{post[1].notUseful}})</a>

                        <a (click)="copyToCB( post[1].randomId )" class="btn mr-1 btn-github">
                            <i class="far fa-paper-plane">
                                <p *ngIf="this.copiedOne == post[1].randomId">URL Copied !</p>
                            </i>
                        </a>
                        <div class="w-100 d-sm-none"></div>

                        <div class="float-right mt-sm-0 mt-3">
                            <a [routerLink]='["/posts", post[1].randomId]' class="btn">Expand more <i
                                    class="fas fa-chevron-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-4 col-lg-4 d-flex flex-column flex-sm-row">
            <div *ngIf="post[2]" class="card">
                <div class="card-header">
                    <div class="author-box-name">
                        <a [routerLink]='["/posts", post[2].randomId]'>
                            <h4 class="text-wrap">{{post[2].title}}</h4>
                        </a>
                        <p>{{mom.unix(parseInt(post[2].createdAt)).fromNow()}}</p>
                    </div>

                    <div class="card-header-action d-flex justify-content-end gap-2">
                    </div>
                </div>
                <div class="collapse show" id="mycard-collapse">
                    <div class="card-body">
                        {{post[2].body}}
                    </div>
                    <div class="card-footer">
                        <div class="mb-2 mt-3">
                            <div class="text-small font-weight-bold">
                                <a *ngFor="let tag of post[2].tags" [routerLink]='["/tags", tag.name]'
                                    class="m-1 badge badge-outline-light" style="color:#FFC300;">#{{tag.name}}</a>
                            </div>
                        </div>
                        <a href="#" class="btn btn-light btn-sm mr-1"><i class="fas fa-lightbulb btn-success"></i>
                            Useful
                            ({{post[2].useful}})</a>
                        <a href="#" class="btn btn-light btn-sm"><i class="fas fa-lightbulb btn-danger"></i> Not Useful
                            ({{post[2].notUseful}})</a>

                        <a (click)="copyToCB( post[2].randomId )" class="btn mr-1 btn-github">
                            <i class="far fa-paper-plane">
                                <p *ngIf="this.copiedOne == post[2].randomId">URL Copied !</p>
                            </i>
                        </a>
                        <div class="w-100 d-sm-none"></div>

                        <div class="float-right mt-sm-0 mt-3">
                            <a [routerLink]='["/posts", post[2].randomId]' class="btn">Expand more <i
                                    class="fas fa-chevron-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-md-12 col-lg-12 d-flex flex-column flex-sm-row">
            <div class="card">
                <div class="card-header">

                </div>
                <div class="collapse show" id="mycard-collapse">
                    <div class="card-body">
                        Please wait...
                    </div>
                    <div class="card-footer">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>